$Soft-Blue: hsl(231, 69%, 60%);
$Soft-Red: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

body{
  height: 100vh;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}

.container{
  width: 100%;
  margin: 20px auto;
}